/**
 * Remove focus outline from elements.
 */
.sidebar button:focus {
  outline: 0 !important;
}

.sidebar a:focus {
  outline: 0 !important;
}

/**
 * See http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way
 */
.file-loader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.data-table {
  font-size: 12px;
}
